<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="aryasoft.company.arachoob">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".App.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity
            android:name=".Activities.LandActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.ProfileActivity" />
        <activity android:name=".Activities.EditProfileActivity" />
        <activity android:name=".Activities.SignUpSignInActivity" />
        <activity android:name=".Activities.DetailActivity" />
        <activity android:name=".Activities.OrderBasketActivity" />
        <activity android:name=".Activities.TicketsActivity" />
        <activity android:name=".Activities.TicketChatActivity" />
        <activity android:name=".Activities.OrderHistoryActivity" />
        <activity android:name=".Activities.OrderDetailActivity" />
        <activity android:name=".Activities.AllCollectionProductActivity" />
        <activity android:name=".Activities.ChangeUserPasswordActivity"></activity>
    </application>

</manifest>